.Home-Profile-Pic{
  width:300px;
  object-fit: cover;
  border-radius: 75rem;
  -webkit-border-radius: 75rem;
  -moz-border-radius: 75rem;
  -ms-border-radius: 75rem;
  -o-border-radius: 75rem;
}

@media screen and (min-width: 768px){
  .Home-Profile-Pic{
    width:100%;
    object-fit: cover;
    border-radius: 75rem;
    -webkit-border-radius: 75rem;
    -moz-border-radius: 75rem;
    -ms-border-radius: 75rem;
    -o-border-radius: 75rem;
  }
}

@media screen and (max-width: 768px){
  .Home-Profile-Pic{
    width:150px;
    object-fit: cover;
    border-radius: 75rem;
    -webkit-border-radius: 75rem;
    -moz-border-radius: 75rem;
    -ms-border-radius: 75rem;
    -o-border-radius: 75rem;
  }
}
